h1{
    font-family: Arial;
    text-align: center;
    border-bottom: 1px solid darkred;
}

ul{
    list-style: none;
}

#lstheader li{
 display: inline-block;
 font-weight: bold;
 font-family: Arial;
 width: 19%;
 border-bottom: 1px solid silver;


}